body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background-color: #382f2f;
  padding: 20px;
}

button {
  background-color: #3700ff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0066ff;
}
